.hoverBg:hover {
    border: 1px solid #3b2542;
}

.tallDiv {
    height: calc(100vh - 170px);
}

.tallOverFlow {
    height: calc(100% - 120px);
    overflow-y: auto;
}

.tallDivOfChats {
    height: 100%;
    overflow-y: auto;
}

.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.hideScrollBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}